{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- login form provided by the allauth library, styled with custom css and Bootstrap -->
<img id="login-bg" src="https://res.cloudinary.com/devfabrizio/image/upload/v1690626703/Project%20Matinicus/pexels-vincent-ma-janssen-1310777-_1__efhyen.webp" alt="image of a food filled table from above">
<div class="card mx-auto user-access-form col-9">
  <h1>{% trans "Sign In" %}</h1>
  
  
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock %}
