/* menu.html */


.img-bg {
    max-width: 100%;
    opacity: 0.5;
    position: relative;
}

#menu-bg {
    width: 100%;
    opacity: 0.4;
}

#hero-header {
    position: absolute;
    top: 5rem;
    width: 9rem;
}

#hero-p {
    position: absolute;
    top: 5rem;
    right: 2rem;
    width: 8rem;
    font-style: italic;
}

#menu-header {
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 80vw;
    line-height: 1.7rem;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

/* header section */

h1 {
    color: rgb(93, 185, 85);
    margin-top: 6rem;
    font-size: 7vw;
}

/* main section */

main {
    margin-bottom: 5rem;
}

/* user_booking.html */

.card {
    max-width: 75%;
}

/* footer section */

.fixed-bottom {
    background-color: #F8F9FA;
}

