/* menu.html */

.img-bg {
    max-width: 100%;
    opacity: 0.5;
    position: relative;
}

#menu-bg {
    width: 100%;
    opacity: 0.4;
}
#chef-img {
    width: 100%;
    opacity: 0.5;
}

#hero-header {
    position: absolute;
    top: 5rem;
    width: 9rem;
}

#hero-p {
    position: absolute;
    top: 5rem;
    right: 2rem;
    width: 8rem;
    font-style: italic;
}

#menu-header {
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 80vw;
    line-height: 1.7rem;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.chef-div {
    position: relative;
}

#chef-header {
    position: absolute;
    top: 9rem;
}


/* main section */

main {
    margin-bottom: 5rem;
}

/* user_booking.html */

.card {
    max-width: 75%;
}

/* maps.html */

#maps-header {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* logout.html */

.user-access-form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 2%;
    box-shadow: 3px 3px 3px 3px rgb(39, 39, 39);
    padding: 1rem;
}

/* signup.html */

#signup-form {
    max-width: 80%;
}

/* footer section */

.fixed-bottom {
    background-color: #F8F9FA;
}

/* media queries section */

/* tablet size */

@media screen and (min-width: 426px) {
    
    /* menu page */

    #hero-header {
        top: 10rem;
        left: 11vw;
    }

    #hero-p {
        top: 25vw;
        right: 11vw;
    }

    #menu-header {
        top: 13rem;
        right: 1rem;
    }

    #chef-header {
        top: 39vw;
        font-size: 3vw;
    }

}

/* laptop size */

@media screen and (min-width: 768px) {

    /* menu.html */

    .lg-screen {
        max-width: 70%;
        margin: auto;
    }

    .menu-container {
        flex-direction: row;
    }

}
