{% extends 'base.html' %}
{% block content %}
<h4 id="maps-header" class="text-center">Explore the Matinicus Island</h4>
<div class="container">
    <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10313.7206676177!2d-68.89424449395085!3d43.85955415252173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cac463eb3a6ba13%3A0xb73146448a7ec419!2sMatinicus%20Island!5e1!3m2!1sit!2sit!4v1688646649655!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade" class=""></iframe>
    </div>
    <hr>
    <div class="row">
        <p>The Matinicus island is the farthest inhabited land on the East Coast of the United States and has seen no more than 60 stable residents since 1790. These combination of factors make this teritory one of the best preserved in the region. The wild nature of this small strip of land has seen little to no change throughout its whole history. This is why the Matinicus restaurant's experience is the closest encounter you can have with the local cuisine.</p>
    </div>
</div>


{% endblock %}