{% extends "base.html" %}
{% block content %}
<div class="container-fluid"  >
    <div class="row">
        <img class="img-bg p-0 mt-5" src="https://res.cloudinary.com/devfabrizio/image/upload/v1688909725/Project%20Matinicus/pexels-elevate-1267320_iim0dv.webp" alt="The image of a male chef in a kitchen">
        <h5 id="hero-header">Art is transforming thoughts into the tangible</h5>
        <p id="hero-p">Matinicus was born from an idea of innovative creating, in its most radical form</p>
        <div id="bg-img-content">Matinicus is the representation of the ideal restaurant. It encompasses all the aspects what we thought <strong>must</strong> be a dining experience. Our research explored the vast panaorama of what was possible. The result? All we needed was right here on our beloved island. From the resources to grow the our prime ingredients to the expertise and avant-garde proclivity of our kitchen staff. Be our guest and let us redifine your concept of "restaurant". Welcome to Matinicus.
        </div>
    </div>
    <div class="row">
        <img id="menu-bg" class="p-0" src="https://res.cloudinary.com/devfabrizio/image/upload/v1688973769/Project%20Matinicus/pexels-anna-shvets-5953631_jnuzw3.webp" alt="image of a long-haired girl reading a menu">
        <h6 class="col-sm-6" id="menu-header">Carefully selected ingredients, <br> eleborated ideas crafted into <br> a sublime palate experience</h6>
        <p class="fst-italic">Matinicus pledged to only select the freshest local ingredients. Each recipe is designed to enhance the seasonal flavors the island has to offer. Our commitement to reduce our carbon footprint starts right here. In our menu.</p>
    </div>
    <div class="menu-container">
        <div class="appetizer">
            <strong>Lobster croutons with summer herbs aioli</strong>
            <p>Fresh caught Maine lobster, cooked in a vacuum seal to preserve its natural complexities, accompanied by a perfumed aioli scented by the native species of aromatic plants</p>
        </div>
        <div class="main-course">
            <strong>Smoked salmon with blueberry balsamic reduction glaze</strong>
            <p>This wild salmon is slowly smoked using a pine wood variety which can only be found on this island, summer blueberris are hand-picked and reduced to a sweet and tangy glaze.</p>
        </div>
        <div class="dessert">
            <strong>Strawberry Plum</strong>
            <p>A soft and delicate baked plum which includes honey from the wild flowers of the coastline. In addition it is filled with a strawberry puree obtained by a very rare and small variety of strawberries that grow on the island.</p>
        </div>
    </div>
    <div>
        <hr>
        <p><em>These are an excerpt from our summer menu. Reserve your table to get the full Matinicus experience</em></p>
        <hr>
    </div>
    <div class="row">
        <img id="chef-img" class="p-0" src="https://res.cloudinary.com/devfabrizio/image/upload/v1688981493/Project%20Matinicus/pylyp-sukhenko-y-XZf_TNRms-unsplash_dkju6r.webp" alt="an image of a chef working">
        <h6 id="chef-header">Thomas Smith, founder and lead chef of Matinicus</h6>
    </div>

</div>
{% endblock %}