{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="hero-img" >
    <div class="row">
        <!-- <img class="img-bg p-0 mt-5" src="https://res.cloudinary.com/devfabrizio/image/upload/v1688909725/Project%20Matinicus/pexels-elevate-1267320_iim0dv.webp" alt="The image of a male chef in a kitchen"> -->
        <div id="bg-img-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam earum totam mollitia fugit nostrum temporibus enim harum accusamus, illum saepe repellendus commodi quis quos. Ratione perspiciatis ipsam impedit pariatur, quam eum. Cumque officia consequuntur similique expedita natus nam odit accusantium sunt nesciunt molestias sapiente fuga magni corporis doloribus, totam voluptatibus aspernatur pariatur vel ad quidem deleniti debitis saepe blanditiis unde? Cumque suscipit quod deserunt magnam architecto eligendi ad accusamus odit eius, ab facere voluptate impedit dolores ex perspiciatis! Modi quae magnam excepturi expedita ex repudiandae esse quisquam ipsa accusamus quod.
        </div>
    </div>
</div>
{% endblock %}