{% extends 'base.html' %}
{% block content %}
<h1>This is where you can see all the users' reservations</h1>
{% for reservation in reservations %}

<div class="card" style="width: 18rem;">
   <div class="card-body">
     <h5 class="card-title">{{ reservation }}</h5>
     <h6 class="card-subtitle mb-2 text-body-secondary">Time of the reservation</h6>
     <p class="card-text">{{ reservation.time_of_reservation }}</p>
     <h6 class="card-subtitle mb-2 text-body-secondary">Number of guests</h6>
     <p class="card-text">{{ reservation.num_of_guests }}</p>
     <h6 class="card-subtitle mb-2 text-body-secondary">Allergies</h6>
     <p class="card-text">{{ reservation.allergies }}</p>
     <h6 class="card-subtitle mb-2 text-body-secondary">Children under 10 years old</h6>
     <p class="card-text">{{ reservation.kids_under_10 }}</p>
     <a href="#" class="card-link">Card link</a>
     <a href="#" class="card-link">Another link</a>
   </div>
 </div>
{% endfor %}
{% endblock %}