{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-5">These are your reservations</h1>
<div class="container">
   <div class="row">
      {% if user.is_superuser %}
         {% for reservation in all_res %}
         <div class="card col-lg-3 col-md-4 col-9 g-3 mx-auto">
            <div class="card-body text-center">
               <h5 class="card-title">{{ reservation }}</h5>
               <h6 class="card-subtitle mb-2 text-body-secondary">Time of the reservation</h6>
               <p class="card-text">{{ reservation.time_of_reservation }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Number of guests</h6>
               <p class="card-text">{{ reservation.num_of_guests }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Allergies</h6>
               <p class="card-text">{{ reservation.allergies }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Children under 10</h6>
               <p class="card-text">
                  <!-- logic to alter the text of the checkbox result. displays yes or no instead of a boolean value -->
                  {% if reservation.kids_under_10 %}
                  Yes
                  {% else %}
                  No   
                  {% endif %}
               </p>
               <a href="{% url 'confirm_delete' reservation.id %}" class="btn btn-danger">Delete</a>
               <a class="btn btn-warning" href="{% url 'edit_reservation' reservation.id %}">Edit</a>
            </div>
         </div>
         {% endfor %}
         {% for reservation in all_user_res %}
         <div class="card col-lg-3 col-md-4 col-9 g-3 mx-auto">
            <div class="card-body text-center">
               <h5 class="card-title">{{ reservation }}</h5>
               <h6 class="card-subtitle mb-2 text-body-secondary">Time of the reservation</h6>
               <p class="card-text">{{ reservation.time_of_reservation }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Number of guests</h6>
               <p class="card-text">{{ reservation.num_of_guests }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Allergies</h6>
               <p class="card-text">{{ reservation.allergies }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Children under 10</h6>
               <p class="card-text">
                  <!-- logic to alter the text of the checkbox result. displays yes or no instead of a boolean value -->
                  {% if reservation.kids_under_10 %}
                  Yes
                  {% else %}
                  No   
                  {% endif %}
               </p>
               <a href="{% url 'confirm_delete' reservation.id %}" class="btn btn-danger">Delete</a>
               <a class="btn btn-warning" href="{% url 'edit_reservation' reservation.id %}">Edit</a>
            </div>
         </div>
         {% endfor %}
      {% endif %}
      <!-- logic to display all reservations made by a logged in user and buttons to edit or delete the reservation -->
      {% for reservation in reservations %}
         <div class="card col-lg-3 col-md-4 col-9 g-3 mx-auto">
            <div class="card-body text-center">
               <h5 class="card-title">{{ reservation }}</h5>
               <h6 class="card-subtitle mb-2 text-body-secondary">Time of the reservation</h6>
               <p class="card-text">{{ reservation.time_of_reservation }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Number of guests</h6>
               <p class="card-text">{{ reservation.num_of_guests }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Allergies</h6>
               <p class="card-text">{{ reservation.allergies }}</p>
               <h6 class="card-subtitle mb-2 text-body-secondary">Children under 10</h6>
               <p class="card-text">
                  <!-- logic to alter the text of the checkbox result. displays yes or no instead of a boolean value -->
                  {% if reservation.kids_under_10 %}
                  Yes
                  {% else %}
                  No   
                  {% endif %}
               </p>
               <a href="{% url 'confirm_delete' reservation.id %}" class="btn btn-danger">Delete</a>
               <a class="btn btn-warning" href="{% url 'edit_reservation' reservation.id %}">Edit</a>
            </div>
         </div>
      {% endfor %}
   </div>
</div>

{% endblock %}