{% extends 'base.html' %}
{% block content %}
<h2 class="text-center" id="user-booking-header">Make a new reservation</h2>
<!-- logic to handle the success message once the logged in user has submitted the form correctly -->
{% if success_message %}
<div class="row mt-5 ms-auto me-auto text-center success-msg-container">
    <div id="reservation-success-msg" class="alert alert-info">{{ success_message }}</div>
</div>
{% endif %}
<!-- user booking form displayed through bootstrap and custom css style -->
<div class="container text-center ">
    <div class="row">
        <div class="card col-lg-6 col-sm-12 mx-auto" id="user-booking-form">
           <form method="post">
                {% csrf_token %}
                <p class="card-subtitle mb-2 text-body-secondary">Reservation Name:</p>       
                <p id="reservation_name">{{ form.reservation_name }}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Time of Reservation:</p>
                <p id="time_of_reservation">{{ form.time_of_reservation }}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Number of guests:</p>
                <p id="num_of_guests">{{ form.num_of_guests }}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Allergies:</p>
                <p id="allergies">{{ form.allergies }}</p>
                <span class="card-subtitle mb-2 text-body-secondary">Children under 10:</span>
                <span id="kids_under_10">{{ form.kids_under_10}}</span>
                <input type="submit" class="btn btn-success mt-3 mb-1 d-block mx-auto" value="Send Reservation">
           </form>
        </div>
    </div>
</div>
{% endblock %}